<div class="dp-page-content" [formGroup]="configForm">
  <div class="dp-attributes" formGroupName="attributes">
    <h3 class="dp-options-section">Attribute options</h3>

    @if (isValidConfig('theme')) {
      <div class="dp-option">
        <span class="dp-option-header">Theme (theme | for example the built in material theme - dp-material):</span>
        <div class="dp-option-playground">
          <label>
            Material Theme
            <input formControlName="material" [value]="true" id="themeOn" name="material" type="radio" />
          </label>
          <label>
            No Theme
            <input formControlName="material" [value]="false" id="themeOff" name="material" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('disabled')) {
      <div class="dp-option">
        <span class="dp-option-header">Disabled (disabled):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input formControlName="disabled" [value]="false" id="inputEnabledRadio" name="disabled" type="radio" />
          </label>
          <label>
            Disabled
            <input formControlName="disabled" [value]="true" id="inputDisabledRadio" name="disabled" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('required')) {
      <div class="dp-option">
        <span class="dp-option-header">Required Validation (required):</span>
        <div class="dp-option-playground">
          <label>
            Required
            <input
              formControlName="requireValidation"
              [value]="true"
              id="enableRequiredRadio"
              name="requireValidation"
              type="radio"
            />
          </label>
          <label>
            Not Required
            <input
              formControlName="requireValidation"
              [value]="false"
              id="disableRequiredRadio"
              name="requireValidation"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('minValidation')) {
      <div class="dp-option">
        <span class="dp-option-header">Min-Date Validation (minDate):</span>
        <div class="dp-option-playground">
          {{ pickerMode() }}
          <dp-date-picker
            [config]="{ format: localFormat }"
            formControlName="minValidation"
            [mode]="pickerMode()?.startsWith('daytime') ? 'daytime' : 'day'"
            id="minDatePicker"
            placeholder="Select a min date"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('maxValidation')) {
      <div class="dp-option">
        <span class="dp-option-header">Max-Date Validation (maxDate):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: localFormat }"
            formControlName="maxValidation"
            [mode]="pickerMode()?.startsWith('daytime') ? 'daytime' : 'day'"
            id="maxDatePicker"
            placeholder="Select a max date"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('displayDate')) {
      <div class="dp-option">
        <span class="dp-option-header">Display Date (displayDate):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            formControlName="displayDate"
            id="displayDate"
            mode="day"
            placeholder="Select a display date"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('minTimeValidation')) {
      <div class="dp-option">
        <span class="dp-option-header">Min-Time Validation (minTime):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: 'HH:mm:ss' }"
            formControlName="minTimeValidation"
            id="minTimeValidation"
            mode="time"
            placeholder="Select a min time"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('maxTimeValidation')) {
      <div class="dp-option">
        <span class="dp-option-header">Max-Time Validation (maxTime):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: 'HH:mm:ss' }"
            formControlName="maxTimeValidation"
            id="maxTimeValidation"
            mode="time"
            placeholder="Select a max time"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('placeholder')) {
      <div class="dp-option">
        <span class="dp-option-header">Placeholder (placeholder):</span>
        <div class="dp-option-playground">
          <input formControlName="placeholder" id="placeholderInput" placeholder="Put a placeholder" type="text" />
        </div>
      </div>
    }
  </div>

  <div class="dp-configs" formGroupName="configs">
    <h3 class="dp-options-section">Config options</h3>

    @if (isValidConfig('locale')) {
      <div class="dp-option">
        <span class="dp-option-header">Locale (locale):</span>
        <div class="dp-option-playground">
          <select formControlName="locale" id="locale">
            @for (lang of LANGS; track lang) {
              <option [value]="lang">{{ lang }}</option>
            }
          </select>
        </div>
      </div>
    }

    @if (isValidConfig('firstDayOfWeek')) {
      <div class="dp-option">
        <span class="dp-option-header">First Day of The week (firstDayOfWeek):</span>
        <div class="dp-option-playground">
          <select formControlName="firstDayOfWeek" id="firstDayOfWeekSelect">
            @for (day of DAYS; track day) {
              <option [value]="day">{{ day }}</option>
            }
          </select>
        </div>
      </div>
    }

    @if (isValidConfig('format')) {
      <div class="dp-option">
        <span class="dp-option-header">Date Format (format):</span>
        <div class="dp-option-playground">
          <input formControlName="format" id="dateFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('monthFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Month Format (monthFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="monthFormat" id="monthFormatInput" />
        </div>
      </div>
    }

    @if (isValidConfig('min')) {
      <div class="dp-option">
        <span class="dp-option-header">Min Selectable Date (min):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: localFormat }"
            formControlName="min"
            [mode]="pickerMode()?.startsWith('daytime') ? 'daytime' : 'day'"
            id="minSelectable"
            placeholder="Select a min date"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('max')) {
      <div class="dp-option">
        <span class="dp-option-header">Max Selectable Date (max):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: localFormat }"
            formControlName="max"
            [mode]="pickerMode()?.startsWith('daytime') ? 'daytime' : 'day'"
            id="maxSelectable"
            placeholder="Select a max date"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('minTime')) {
      <div class="dp-option">
        <span class="dp-option-header">Min Selectable Time (minTime):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: 'HH:mm:ss' }"
            formControlName="minTime"
            id="minTimeSelectable"
            mode="time"
            placeholder="Select a min time"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('maxTime')) {
      <div class="dp-option">
        <span class="dp-option-header">Max Selectable Time (maxTime):</span>
        <div class="dp-option-playground">
          <dp-date-picker
            [config]="{ format: 'HH:mm:ss' }"
            formControlName="maxTime"
            id="maxTimeSelectable"
            mode="time"
            placeholder="Select a max time"
            theme="dp-material"
          >
          </dp-date-picker>
        </div>
      </div>
    }

    @if (isValidConfig('allowMultiSelect')) {
      <div class="dp-option">
        <span class="dp-option-header">Allow Multiple Selection (allowMultiSelect):</span>
        <div class="dp-option-playground">
          <label>
            Single
            <input
              formControlName="allowMultiSelect"
              [value]="false"
              id="disableMultiselect"
              name="allowMultiSelect"
              type="radio"
            />
          </label>
          <label>
            Multiple
            <input
              formControlName="allowMultiSelect"
              [value]="true"
              id="enableMultiselect"
              name="allowMultiSelect"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('closeOnSelect')) {
      <div class="dp-option">
        <span class="dp-option-header">Close after selection (closeOnSelect):</span>
        <div class="dp-option-playground">
          <label>
            Close
            <input
              formControlName="closeOnSelect"
              [value]="true"
              id="closeOnSelect"
              name="closeOnSelect"
              type="radio"
            />
          </label>
          <label>
            Don't Close
            <input
              formControlName="closeOnSelect"
              [value]="false"
              id="noCloseOnSelect"
              name="closeOnSelect"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('closeOnSelectDelay')) {
      <div class="dp-option">
        <span class="dp-option-header">Closing Delay in ms (closeOnSelectDelay):</span>
        <div class="dp-option-playground">
          <input formControlName="closeOnSelectDelay" id="closeDelay" type="number" />
        </div>
      </div>
    }

    @if (isValidConfig('openOnFocus')) {
      <div class="dp-option">
        <span class="dp-option-header">Show picker when input receives focus (openOnFocus):</span>
        <div class="dp-option-playground">
          <label>
            No
            <input formControlName="openOnFocus" [value]="false" id="noOpenOnFocus" name="openOnFocus" type="radio" />
          </label>
          <label>
            Yes
            <input formControlName="openOnFocus" [value]="true" id="yesOpenOnFocus" name="openOnFocus" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('openOnClick')) {
      <div class="dp-option">
        <span class="dp-option-header">Show picker when input is clicked (openOnClick):</span>
        <div class="dp-option-playground">
          <label>
            No
            <input formControlName="openOnClick" [value]="false" id="noOpenOnClick" name="openOnClick" type="radio" />
          </label>
          <label>
            Yes
            <input formControlName="openOnClick" [value]="true" id="yesOpenOnClick" name="openOnClick" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('onOpenDelay')) {
      <div class="dp-option">
        <span class="dp-option-header">Open Delay in ms (onOpenDelay):</span>
        <div class="dp-option-playground">
          <input formControlName="onOpenDelay" id="onOpenDelay" type="number" />
        </div>
      </div>
    }

    @if (isValidConfig('weekdayFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Weekday Format (weekDayFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="weekDayFormat" id="weekDaysFormat" type="text" />
        </div>
      </div>
    }

    @if (isValidConfig('disableKeypress')) {
      <div class="dp-option">
        <span class="dp-option-header">Disable keyboard on input (disableKeypress):</span>
        <div class="dp-option-playground">
          <label>
            Disabled
            <input formControlName="disableKeypress" [value]="true" name="disableKeypress" type="radio" />
          </label>
          <label>
            Enabled
            <input formControlName="disableKeypress" [value]="false" name="disableKeypress" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('drops')) {
      <div class="dp-option">
        <span class="dp-option-header">Drops (drops):</span>
        <div class="dp-option-playground">
          <label>
            Down
            <input formControlName="drops" name="drops" type="radio" value="down" />
          </label>
          <label>
            Up
            <input formControlName="drops" name="drops" type="radio" value="up" />
          </label>
          <label>
            Auto
            <input formControlName="drops" name="drops" type="radio" [value]="null" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('opens')) {
      <div class="dp-option">
        <span class="dp-option-header">Opens (opens):</span>
        <div class="dp-option-playground">
          <label>
            Right
            <input formControlName="opens" name="opens" type="radio" value="right" />
          </label>
          <label>
            Left
            <input formControlName="opens" name="opens" type="radio" value="left" />
          </label>
          <label>
            Auto
            <input formControlName="opens" name="opens" type="radio" [value]="null" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('hideInputContainer')) {
      <div class="dp-option">
        <span class="dp-option-header">Hide Input Container (hideInputContainer):</span>
        <div class="dp-option-playground">
          <label>
            Hidden
            <input
              formControlName="hideInputContainer"
              [value]="true"
              id="hideInputRadio"
              name="hideInputContainer"
              type="radio"
            />
          </label>
          <label>
            Shown
            <input
              formControlName="hideInputContainer"
              [value]="false"
              id="showInputRadio"
              name="hideInputContainer"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('showNearMonthDays')) {
      <div class="dp-option">
        <span class="dp-option-header">Show near month days (showNearMonthDays):</span>
        <div class="dp-option-playground">
          <label>
            Show
            <input
              formControlName="showNearMonthDays"
              [value]="true"
              id="showNearMonthDaysRadio"
              name="showNearMonthDays"
              type="radio"
            />
          </label>
          <label>
            Hide
            <input
              formControlName="showNearMonthDays"
              [value]="false"
              id="hideNearMonthDaysRadio"
              name="showNearMonthDays"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('showWeekNumbers')) {
      <div class="dp-option">
        <span class="dp-option-header">Show week numbers (showWeekNumbers):</span>
        <div class="dp-option-playground">
          <label>
            Show
            <input
              formControlName="showWeekNumbers"
              [value]="true"
              id="showWeekNumbersRadio"
              name="showWeekNumbers"
              type="radio"
            />
          </label>
          <label>
            Hide
            <input
              formControlName="showWeekNumbers"
              [value]="false"
              id="hideWeekNumbersRadio"
              name="showWeekNumbers"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('enableMonthSelector')) {
      <div class="dp-option">
        <span class="dp-option-header">Enable month selector (enableMonthSelector):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="enableMonthSelector"
              [value]="true"
              id="enableMonthSelector"
              name="enableMonthSelector"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="enableMonthSelector"
              [value]="false"
              id="disableMonthSelector"
              name="enableMonthSelector"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('yearFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Year Format (yearFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="yearFormat" id="yearFormat" type="text" />
        </div>
      </div>
    }

    @if (isValidConfig('showGoToCurrent')) {
      <div class="dp-option">
        <span class="dp-option-header">Show go to current button (showGoToCurrent):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="showGoToCurrent"
              [value]="true"
              id="showGoToCurrent"
              name="showGoToCurrent"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="showGoToCurrent"
              [value]="false"
              id="hideGoToCurrent"
              name="showGoToCurrent"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('hideOnOutsideClick')) {
      <div class="dp-option">
        <span class="dp-option-header">Hide on outside click (hideOnOutsideClick):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="hideOnOutsideClick"
              [value]="true"
              id="hideOnOutsideClick"
              name="hideOnOutsideClick"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="hideOnOutsideClick"
              [value]="false"
              id="showOnOutsideClick"
              name="hideOnOutsideClick"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('unSelectOnClick')) {
      <div class="dp-option">
        <span class="dp-option-header">Allow un select selected date (unSelectOnClick):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="unSelectOnClick"
              [value]="true"
              id="enableUnSelect"
              name="unSelectOnClick"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="unSelectOnClick"
              [value]="false"
              id="disableUnSelect"
              name="unSelectOnClick"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('dayBtnFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Day Button Format (dayBtnFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="dayBtnFormat" id="dayBtnFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('monthBtnFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Month Button Format (monthBtnFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="monthBtnFormat" id="monthBtnFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('hours12Format')) {
      <div class="dp-option">
        <span class="dp-option-header">12 Hour Format (hours12Format):</span>
        <div class="dp-option-playground">
          <input formControlName="hours12Format" id="hours12Format" />
        </div>
      </div>
    }

    @if (isValidConfig('hours24Format')) {
      <div class="dp-option">
        <span class="dp-option-header">24 Hour Format (hours24Format):</span>
        <div class="dp-option-playground">
          <input formControlName="hours24Format" id="hours24Format" />
        </div>
      </div>
    }

    @if (isValidConfig('meridiemFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Meridiem Format (meridiemFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="meridiemFormat" id="meridiemFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('minutesFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Minutes Format (minutesFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="minutesFormat" id="minutesFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('minutesInterval')) {
      <div class="dp-option">
        <span class="dp-option-header">Minutes Interval (minutesInterval):</span>
        <div class="dp-option-playground">
          <input formControlName="minutesInterval" id="minutesInterval" type="number" />
        </div>
      </div>
    }

    @if (isValidConfig('secondsFormat')) {
      <div class="dp-option">
        <span class="dp-option-header">Seconds Format (secondsFormat):</span>
        <div class="dp-option-playground">
          <input formControlName="secondsFormat" id="secondsFormat" />
        </div>
      </div>
    }

    @if (isValidConfig('secondsInterval')) {
      <div class="dp-option">
        <span class="dp-option-header">Seconds Interval (secondsInterval):</span>
        <div class="dp-option-playground">
          <input formControlName="secondsInterval" id="secondsInterval" type="number" />
        </div>
      </div>
    }

    @if (isValidConfig('showSeconds')) {
      <div class="dp-option">
        <span class="dp-option-header">Show seconds (showSeconds):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input formControlName="showSeconds" [value]="true" id="showSeconds" name="showSeconds" type="radio" />
          </label>
          <label>
            Disabled
            <input formControlName="showSeconds" [value]="false" id="hideSeconds" name="showSeconds" type="radio" />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('showTwentyFourHours')) {
      <div class="dp-option">
        <span class="dp-option-header">Show twenty four hours (showTwentyFourHours):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="showTwentyFourHours"
              [value]="true"
              id="showTwentyFourHours"
              name="showTwentyFourHours"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="showTwentyFourHours"
              [value]="false"
              id="hideTwentyFourHours"
              name="showTwentyFourHours"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('timeSeparator')) {
      <div class="dp-option">
        <span class="dp-option-header">Time Separator (timeSeparator):</span>
        <div class="dp-option-playground">
          <input formControlName="timeSeparator" id="timeSeparator" />
        </div>
      </div>
    }

    @if (isValidConfig('showMultipleYearsNavigation')) {
      <div class="dp-option">
        <span class="dp-option-header">Show multiple years navigation buttons (showMultipleYearsNavigation):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="showMultipleYearsNavigation"
              [value]="true"
              id="showMultipleYearsNavigation"
              name="showMultipleYearsNavigation"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="showMultipleYearsNavigation"
              [value]="false"
              id="hideMultipleYearsNavigation"
              name="showMultipleYearsNavigation"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('showMultipleYearsNavigation')) {
      <div class="dp-option">
        <span class="dp-option-header">Multiple years navigate by (multipleYearsNavigateBy):</span>
        <div class="dp-option-playground">
          <input formControlName="multipleYearsNavigateBy" id="multipleYearsNavigateBy" type="number" />
        </div>
      </div>
    }

    @if (isValidConfig('returnedValueType')) {
      <div class="dp-option">
        <span class="dp-option-header">Returned Value Type (returnedValueType):</span>
        <div class="dp-option-playground">
          <select formControlName="returnedValueType" id="returnedValueType">
            @for (type of dateTypes; track type.name) {
              <option [value]="type.value">{{ type.name }}</option>
            }
          </select>
        </div>
      </div>
    }

    @if (isValidConfig('closeOnEnter')) {
      <div class="dp-option">
        <span class="dp-option-header">Close On Enter (closeOnEnter):</span>
        <div class="dp-option-playground">
          <label>
            Enabled
            <input
              formControlName="closeOnEnter"
              [value]="true"
              id="enableCloseOnEnter"
              name="closeOnEnter"
              type="radio"
            />
          </label>
          <label>
            Disabled
            <input
              formControlName="closeOnEnter"
              [value]="false"
              id="disableCloseOnEnter"
              name="closeOnEnter"
              type="radio"
            />
          </label>
        </div>
      </div>
    }

    @if (isValidConfig('numOfMonthRows')) {
      <div class="dp-option">
        <span class="dp-option-header">Number of Month rows (numOfMonthRows):</span>
        <div class="dp-option-playground">
          <label>
            1
            <input
              formControlName="numOfMonthRows"
              [value]="1"
              id="numOfMonthRows1"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
          <label>
            2
            <input
              formControlName="numOfMonthRows"
              [value]="2"
              id="numOfMonthRows2"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
          <label>
            3
            <input
              formControlName="numOfMonthRows"
              [value]="3"
              id="numOfMonthRows3"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
          <label>
            4
            <input
              formControlName="numOfMonthRows"
              [value]="4"
              id="numOfMonthRows4"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
          <label>
            6
            <input
              formControlName="numOfMonthRows"
              [value]="6"
              id="numOfMonthRows6"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
          <label>
            12
            <input
              formControlName="numOfMonthRows"
              [value]="12"
              id="numOfMonthRows12"
              name="numOfMonthRows"
              type="radio"
            />
          </label>
        </div>
      </div>
    }
  </div>

  <div class="dp-api">
    <h3 class="dp-options-section">API</h3>

    @if (isValidConfig('apiopen')) {
      <div class="dp-option">
        <span class="dp-option-header">Open (api.open()):</span>
        <div class="dp-option-playground">
          <button (click)="openCalendar.emit()" id="openBtn">Open</button>
        </div>
      </div>
    }

    @if (isValidConfig('apiclose')) {
      <div class="dp-option">
        <span class="dp-option-header">Close (api.close()):</span>
        <div class="dp-option-playground">
          <button (click)="closeCalendar.emit()">Close</button>
        </div>
      </div>
    }

    @if (isValidConfig('moveCalendarTo')) {
      <div class="dp-option">
        <span class="dp-option-header">Move (api.moveCalendarTo('14-01-1987')):</span>
        <div class="dp-option-playground">
          <button (click)="moveCalendar()" id="moveCalendarTo">Move</button>
        </div>
      </div>
    }
  </div>
</div>
