<div class="dp-demo-page">
  <div class="dp-menu">
    <h3 class="dp-menu-header">Components</h3>
    <ul>
      <li>
        <a [routerLink]="['/daytimePicker']" id="daytimePickerMenu" routerLinkActive="dp-active-item">
          Day Time Picker
        </a>
      </li>
      <li>
        <a [routerLink]="['/daytimeInline']" id="daytimeInlineMenu" routerLinkActive="dp-active-item">
          Day Time Picker inline
        </a>
      </li>
      <li>
        <a [routerLink]="['/daytimeDirective']" id="daytimeDirectiveMenu" routerLinkActive="dp-active-item">
          Day Time Picker directive
        </a>
      </li>
      <li>
        <a [routerLink]="['/dayPicker']" id="dayPickerMenu" routerLinkActive="dp-active-item"> Day Picker </a>
      </li>
      <li>
        <a [routerLink]="['/dayInline']" id="dayInlineMenu" routerLinkActive="dp-active-item"> Day Picker inline </a>
      </li>
      <li>
        <a [routerLink]="['/dayDirective']" id="dayDirectiveMenu" routerLinkActive="dp-active-item">
          Day Picker directive</a
        >
      </li>
      <li>
        <a [routerLink]="['/monthPicker']" id="monthPickerMenu" routerLinkActive="dp-active-item"> Month Picker </a>
      </li>
      <li>
        <a [routerLink]="['/monthInline']" id="monthInlineMenu" routerLinkActive="dp-active-item">
          Month Picker inline
        </a>
      </li>
      <li>
        <a [routerLink]="['/monthDirective']" id="monthDirectiveMenu" routerLinkActive="dp-active-item">
          Month Picker directive
        </a>
      </li>
      <li>
        <a [routerLink]="['/timePicker']" id="timePickerMenu" routerLinkActive="dp-active-item"> Time Picker </a>
      </li>
      <li>
        <a [routerLink]="['/timeInline']" id="timeInlineMenu" routerLinkActive="dp-active-item"> Time Picker inline </a>
      </li>
      <li>
        <a [routerLink]="['/timeDirective']" id="timeDirectiveMenu" routerLinkActive="dp-active-item">
          Time Picker directive
        </a>
      </li>
    </ul>
    <div class="rest-of-menu">
      <div class="host-link">
        <span>Hosted on:</span>
        <a href="https://netlifly.com/angular2-daytime-picker">
          <img src="https://www.netlify.com/v3/img/components/logomark.png" alt="netlify" />
          <span>Netlify</span>
        </a>
      </div>
    </div>
    <div class="dp-place-holder"></div>
  </div>

  <div class="dp-main-content">
    <div class="dp-toolbar">
      <span class="dp-header">ng2-date-picker</span>

      <div class="dp-github-container">
        <a
          aria-label="Star vinccool/date-picker-ng on GitHub"
          class="github-button"
          data-show-count="true"
          data-size="large"
          href="https://github.com/vinccool96/date-picker-ng"
        >
          Star
        </a>
      </div>
    </div>

    <div class="dp-component-wrapper">
      <div class="dp-router-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
